.page-wishlist {
  grid-area: main;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
  width: 100vw;
}

.section-wishlist-items {
  background-color: lightblue;
  display: grid;
}

.products-container--wishlist {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-items: stretch;
}
