.page-cart {
  grid-area: main;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
  width: 100vw;
  display: grid;
  grid-template-areas:
    'items details'
    'suggestions suggestions';
}

.section-cart-items {
  grid-area: items;
  width: 32rem;
  justify-self: end;
  border-right: 1px solid var(--COLOR_TEXT_ONE);
}

.section-price-details {
  grid-area: details;
  width: 24rem;
}

.section-cart-items > div {
  border: 1px solid var(--COLOR_TEXT_ONE);
  border-radius: 0.25rem;
}

.section-price-details > div {
  border-top: 1px solid var(--COLOR_TEXT_ONE);
  border-bottom: 1px solid var(--COLOR_TEXT_ONE);
}

.section-price-details ul > li:nth-of-type(2) > span,
.section-price-details ul > li:nth-of-type(4) > span {
  color: var(--COLOR_SEMANTIC_SUCCESS);
}

.section-price-details ul > li:nth-of-type(3) > span {
  color: var(--COLOR_SEMANTIC_ERROR);
}

.section-price-details > button {
  width: 100%;
}
