#page-products-listing {
  grid-area: main;
  height: 93vh;
  overflow: scroll;
}

#page-products-listing > aside {
  width: 15%;
  border-right: 2px solid var(--COLOR_TEXT_ONE);
}

#page-products-listing > section {
  width: 85%;
}

/* ---FILTER COMPONENT--- */
.hr-filter {
  border: none;
  width: 100%;
  height: 2px;
  background-color: var(--COLOR_TEXT_ONE);
}
