:root {
  /* ---BRAND COLORS--- */
  --COLOR_BRAND_ALPHA: #4338ca;
  --COLOR_BRAND_ALPHA_LIGHT: #6366f1;
  --COLOR_BRAND_ALPHA_DARK: #3730a3;

  /* ---BACKGROUND COLORS--- */
  --COLOR_BACKGROUND_ALPHA: #f9fafb;

  /* ---NEUTRAL COLORS--- */
  --COLOR_NEUTRAL_ALPHA: #f3f4f6;
  --COLOR_NEUTRAL_ALPHA_DARK: #d1d5db;

  --COLOR_NEUTRAL_BETA: #c7d2fe;
  --COLOR_NEUTRAL_BETA_DARK: #a5b4fc;

  /* ---TEXT COLORS--- */
  --COLOR_TEXT_ONE: #1f2937;
  --COLOR_TEXT_TWO: #ffffff;

  /* ---SEMANTIC COLORS--- */
  --COLOR_SEMANTIC_ERROR: #ef4444;
  --COLOR_SEMANTIC_ERROR_DARK: #dc2626;

  --COLOR_SEMANTIC_WARNING: #fcd34d;
  --COLOR_SEMANTIC_WARNING_DARK: #fbbf24;
  --COLOR_SEMANTIC_WARNING_TEXT: #b45309;

  --COLOR_SEMANTIC_SUCCESS: #16a34a;
  --COLOR_SEMANTIC_SUCCESS_DARK: #15803d;
}
