.card-product-cart {
  border: 1px solid var(--COLOR_TEXT_ONE);
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  height: 9rem;
}

.card-product-cart img {
  min-width: 20%;
  max-width: 8rem;
}

.card-product-cart button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}
